/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/

.fc-loginbtn > img {
    height: 32px;
}

.fc-login-header-greating-text {
    display: inline-block
}

.fc-loginbtn {
    width: 135px;
    margin-bottom: 5px;
}
