@inherits LoginButtonModel

<button class="btn btn-primary" onclick="@(async () => await AwsJsInterop.SignInAsync(Provider))">
    @if (!string.IsNullOrEmpty(IconUrl))
    {
        <img src="@IconUrl" />
    }
    @Text
</button>
